@import 'tailwindcss';

@theme {
  --shadow-1: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  --shadow-btn: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  --breakpoint-sm: 320px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 800px;
  --breakpoint-xl: 1000px;
  --breakpoint-2xl: 1280px;
}

body {
  background: #1d1d1d;
  color: #fff;
}
ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #696868;
}
::-webkit-scrollbar-thumb {
  background: #c7a810;
}
::-webkit-scrollbar-thumb:hover {
  background: #463d0c;
}

@layer components {
  .container {
    max-width: 1280px !important;
    width: 100% !important;
    padding: 0 20px;
    margin: 0 auto;
  }
  button {
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  }

  .intro {
    background: url('/image/intro-bg.webp');
    width: 100%;
  }

  .titleStyle {
    @apply text-3xl text-center font-bold text-amber-400;
  }
}
